<table class="table table-dark">
  <thead>
    <tr class="text-center">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Birth</th>
      <th scope="col">Father</th>
      <th scope="col">Mother</th>
      <th scope="col">Child</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody *ngFor="let person of people">
    <tr class="text-center">
      <th scope="row">{{ person.person_id }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.birth | date: 'yyyy-MM-dd' }}</td>
      <td>{{ person.father_id == 0 ? 0 : person.father_id}}</td>
      <td>{{ person.mother_id == 0 ? 0 : person.mother_id }}</td>
      <td>{{ person.child_id == 0 ? 0 : person.child_id}}</td>
      <td>
        <button class="btn btn-danger m-1" (click)="deletePerson(person.person_id)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
        <button class="btn btn-success m-1" [routerLink]="['/person/edit', person.person_id]">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
